@keyframes move-arrow {
  from {
    left: -21px;
  }

  to {
    left: -17px;
  }
}

@keyframes scale-heart {
  from {
    transform: scale(1);
  }

  to {
    /* В ТЗ написано 1.5, но это неправильно, так как в дизайне примерно на 1.25 увеличение */
    transform: scale(1.25);
  }
}

@keyframes opacity-sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}